/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700&display=swap');
 @import 'bootstrap';


 body{
    font-family: 'Noto Sans', sans-serif;
     background: #54C6EB;
     color: #000;
     a{
         color:#000;

     }
     
 }
 a{
     cursor:pointer;
 }
 .nav-link{
     font-size:1.2rem;
 }
 .clear{
     clear:both
 }

 .brand{
     
     margin-top:20px;
     margin-bottom:20px;
     height:180px;
     img{
         height:170px;
     }
   
 }
 

 main{
   
     padding:25px;
     color:#fff;
     min-height:100%;
     margin-top:20px;
     margin-bottom:20px;
     a{
         color:#fff;
     }
 }
h1{
    font-size:36px;
    text-align: center;
    margin-bottom:30px;
}
h3.contactHeading{
    margin-bottom:35px;
    font-size:1.5rem;
    text-align:left;
    
}

ul.nav{
    margin-top:100px;
}

 .contactInformation{
     
   text-align: center;
 }
 #map{
     padding-right:10px;
     iframe{
         width: 100%;
         height:450px;
         margin-top:35px;

         
     }
 }
 .fullWidthContent{
     background:#3A506B;
     padding-bottom:20px;
     padding-top:20px;
     display:block;
 }
 
 .fullWidthImage{
     display:block;
     width:100%;
     height:350px;
     background-image: image-url('background.jpeg');
     background-position: center;
     margin-bottom:30px;
     background-size: cover;
 }
 footer{
     text-align: center;
     min-height:200px;
     margin-top:35px;

     img{
         max-width: 100%;
         max-height:147px;
     }
     p{
         margin-top:10px;
     }
     .form-control{
         width:60%;
         margin: 10px auto;
     }

 }